body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.create-user-form {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.create-user-form .create-user-form-heading,
.create-user-form .checkbox {
    margin-bottom: 10px;
}

.create-user-form .checkbox {
    font-weight: 400;
}

.create-user-form .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.create-user-form .form-control:focus {
    z-index: 2;
}
