<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{~/css/index.css}">
    <link rel="stylesheet" th:href="@{~/css/bootstrap-datetimepicker.min.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script th:src="@{~/js/user.js}"></script>
    <script th:src="@{~/js/bootstrap-datetimepicker.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <form name="createform">
            <div class="col-md-2">
                <div class="input-group">
                    <input type="text" name="firstName" class="form-control" placeholder="First name" aria-describedby="basic-addon1">
                </div>
            </div>

            <div class="col-md-2">
                <div class="input-group">
                    <input type="text" name="lastName" class="form-control" placeholder="Last name" aria-describedby="basic-addon1">
                </div>
            </div>

            <div class="col-md-2">
                <div class="input-group">
                    <input type="email" name="emails" class="form-control" placeholder="emails sep. by space" aria-describedby="basic-addon1" multiple>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker'>
                        <input type='text' name="birthday" class="form-control" />
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <select name="gender" class="form-control" id="gender-input">
                        <option>MALE</option>
                        <option>FEMALE</option>
                    </select>
                </div>
            </div>

            <div class="btn btn-success" id="add-user">Add user</div>
        </form>
    </div>
    <div class="row col-md-10 align-items-center ">
        <th:block th:if="(${users})">
            <table class="table table-hover" id="users-table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Emails</th>
                    <th>Birthday</th>
                    <th>Gender</th>
                    <th>Remove</th>
                </tr>
                </thead>
                <tbody id="users-table-body">
                <tr th:each="user : ${users}" th:id="${user.id}" class="user-head">
                    <td th:text="${user.id}" data-name="id"></td>
                    <td th:text="${user.firstName}" data-name="firstName" class="user-record" contenteditable="true">
                        First Name
                    </td>
                    <td th:text="${user.lastName}" data-name="lastName" class="user-record" contenteditable="true">Last
                        Name
                    </td>
                    <td th:text="${#strings.arrayJoin(user.emails,' ')}" data-name="emails" class="user-record"
                        contenteditable="true">Emails
                    </td>
                    <td th:text="${user.birthday}" class="user-record" data-name="birthday" contenteditable="true">
                        Birthday
                    </td>
                    <td th:text="${user.gender}" class="user-record" data-name="gender" contenteditable="true">Gender
                    </td>
                    <td class="user-remove">X</td>
                </tr>
                </tbody>
            </table>
            <th:block th:if="${isNeedPagination}">
                <div class="text-center" id="users-paginate-button-block">
                    <button type="button" class="btn btn-bordered-o btn-lg" id="users-paginate"
                            th:data-page="${pageNumber}">Show more
                    </button>
                </div>
            </th:block>
        </th:block>
    </div>
</div>

</body>
</html>