<tr th:each="user : ${users}" th:id="${user.id}" class="user-head">
    <td th:text="${user.id}" data-name="id"></td>
    <td th:text="${user.firstName}" data-name="firstName" class="user-record" contenteditable="true">First Name</td>
    <td th:text="${user.lastName}" data-name="lastName" class="user-record" contenteditable="true">Last Name</td>
    <td th:text="${#strings.arrayJoin(user.emails,' ')}" data-name="emails" class="user-record" contenteditable="true">
        Emails
    </td>
    <td th:text="${user.birthday}" class="user-record" data-name="birthday" contenteditable="true">Birthday</td>
    <td th:text="${user.gender}" class="user-record" data-name="gender" contenteditable="true">Gender</td>
    <td class="user-remove">X</td>
</tr>
<th:block th:if="${isNeedPagination}">
    <div class="text-center" id="users-paginate-button-block">
        <button type="button" class="btn btn-bordered-o btn-lg" id="users-paginate" th:data-page="${pageNumber}">Show
            more
        </button>
    </div>
</th:block>